export DRONE_DB_HOST=127.0.0.1
export DRONE_DB_PORT=3306
export DRONE_DB_USER=drone_app
export DRONE_DB_PASSWORD=change-this-password
export DRONE_DB_NAME=drone_ops
export DRONE_DB_DRONE_ID=1
export DRONE_DB_MISSION_ID=0
export DRONE_DB_TELEMETRY_HZ=5.0
export DRONE_DB_STATE_HZ=1.0
export DRONE_DB_BATCH_SIZE=100
export DRONE_DB_FLUSH_SEC=1.0
export DRONE_DB_MAX_QUEUE=5000
