<?xml version="1.0"?>
<model>
  <name>Ground Materials (Texture Container)</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Agricultural Field World Project</name>
  </author>
  <description>
    Folder ini BUKAN untuk di-include sebagai model. Folder ini hanya
    kontainer tekstur PBR (mud, sawah top-down, rumput pematang, jalan)
    yang dirujuk lewat URI model://ground_materials/materials/textures/...
    dari model-model tanah/pematang/jalan yang didefinisikan langsung di
    dalam world file. Pola ini membuat resolusi path tekstur andal lewat
    variabel GZ_SIM_RESOURCE_PATH, tanpa bergantung pada path relatif.
  </description>
</model>
