<?xml version="1.0"?>
<model>
  <name>Realistic Tree - Coconut Palm</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Agricultural Field World Project</name>
  </author>
  <description>
    Pohon kelapa dengan batang ramping melengkung (disusun dari beberapa
    segmen cylinder beruntun) dan 6 pelepah yang menjuntai radial dari
    pucuk, khas pemandangan sawah/pedesaan Indonesia. Collision batang
    berupa 1 cylinder besar yang membungkus seluruh lengkungan batang,
    dan 1 ellipsoid untuk zona pelepah di pucuk.
  </description>
</model>
