<?xml version="1.0"?>
<model>
  <name>Small Rock A</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Agricultural Field World Project</name>
  </author>
  <description>
    Batu kecil low-poly dengan tekstur PBR untuk detail lingkungan
    di tepi saluran irigasi dan pematang.
  </description>
</model>
